*.*~
*.bak
bin/env
map/

src/Zuliaworks.Netzuela.Spuria.TiposApi/bin/
src/Zuliaworks.Netzuela.Spuria.TiposApi/obj/
src/Zuliaworks.Netzuela.Spuria.TiposApi/StyleCop.Cache

src/db/mysql/modelo_de_datos_relacional.mwb.bak

src/Zuliaworks.Netzuela.Spuria.Api/bin/
src/Zuliaworks.Netzuela.Spuria.Api/obj/
src/Zuliaworks.Netzuela.Spuria.Api/StyleCop.Cache
src/Zuliaworks.Netzuela.Spuria.Api/ServidorApi.publish.xml
src/Zuliaworks.Netzuela.Spuria.Api/*.svclog
src/Zuliaworks.Netzuela.Spuria.Api/hibernate.cfg.xml

src/Zuliaworks.Netzuela.Spuria.OAuth/bin/
src/Zuliaworks.Netzuela.Spuria.OAuth/obj/
src/Zuliaworks.Netzuela.Spuria.Auth/StyleCop.Cache

src/daemon/env/
