*.*~
*.pyc
*.bak
map/

bin/env/

src/mapas/build/
src/mapas/dist/
src/mapas/env/
src/mapas/mapas.egg-info

src/db/mysql/modelo_de_datos_relacional.mwb.bak

src/workers/build/
src/workers/dist/
src/workers/env/
src/workers/workers.egg-info
