<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="conexionesGuardadas" type="Zuliaworks.Netzuela.Valeria.Preferencias.ConexionesSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="credenciales" type="Zuliaworks.Netzuela.Valeria.Preferencias.AutentificacionSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <conexionesGuardadas>
    <parametrosDeConexion>
      <add id="Local" anfitrion="localhost" servidor="MySQL" instancia="mysqld" metodoDeConexion="TCP/IP" argumentoDeConexion="3306" />
    </parametrosDeConexion>
  </conexionesGuardadas>
  <credenciales>
    <llavesDeAcceso>
      <add id="Local" usuario="wzoIUH9x4UY/nRNvPPQaoy69gY58H+hW3e/DJXGBJvm7YVBYW8I2xDvCiIjF5NF/GScQ/SnwH9bk8q8KkQn8U/VttJ5qOF/D+2/5xXg6UKrj2eGQ7iWWXvuZEFbUeMgKWtpU8Olx87AHS7C4TdDIfStR2sXnE9g54sFOoy6c7T539Gj8uvy9XB8wvi9fKc9Lrw3PD8vd0pP2RO8Ed66y+yDRJuKbpddzZQ3c9uPkxN/cTHOR+dsoisg2qr5Hy5UFRAtdfxU4h7jj3loXFSythA==" contrasena="Yqrrr2jQhV5lEU5hH+x44ZNSvYCimCl6YnjfQ6Ic1ThO+WEeCZodVsMRQrexrLzLAotb1LRDe0a/gNOS+qX0YYAAO2BwXTfWSC8E5UZmRzPLCjJtHhSSb2mc5lhJcvT88Yz+Uzh6a6toGBMJvV0Rft0R54fIVpqJbNTrJUgFVktcRLHveGetDw+/gph1+26zcf9skrDZD189l+9Rc4lVF6Nj7X9mR/y9e7psSkNFHLZm6dTLjm2akznU+KB7TnZ1U5bGJscpx9U5z4+S8IubXM9bKt2g0G3EfWjQ2jUeTS9UKu8BgM19NdUtoPSL0noLb6tfroHx8c9w3ABfoVgVJg==" />
    </llavesDeAcceso>
  </credenciales>
  <log4net>
    <appender name="consola" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
	<appender name="archivo" type="log4net.Appender.FileAppender">
      <file value="spuria_log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
	</appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="archivo" />
    </root>
  </log4net>
  <!-- Descomentar esta linea si el servicio esta autohospedado. Dejar comento si el servicio se hospeda en xsp o apache -->
  <!--
  <appSettings>
    <add key="baseAddress" value="http://localhost:8080/netzuela" />
  </appSettings>
  -->
  <system.web>
    <!-- Esto evita que cuando haya una peticion desde el cliente el mismo sea redirigido a login.aspx. En su lugar manda HTTP 401 -->
    <!-- Tambien ver: http://stackoverflow.com/questions/6580068/http-response-unauthorized-redirects-to-login-aspx -->
    <authentication mode="None" />
    <compilation>
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="httpInspector" type="Zuliaworks.Netzuela.Spuria.Api.HttpInspector, Api" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="wcfInspector" type="Zuliaworks.Netzuela.Spuria.Api.WcfBehaviorExtension, Api" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Zuliaworks.Netzuela.Spuria.Api.Servidor" behaviorConfiguration="Autentificacion">
        <host>
          <baseAddresses>
            <!-- Descomentar esta linea si el servicio esta autohospedado. Dejar comento si el servicio se hospeda en xsp o apache -->
            <!--
			<add baseAddress="http://localhost:8080"/>
			-->
          </baseAddresses>
        </host>
        <endpoint name="ServidorApi" address="" binding="basicHttpBinding" bindingConfiguration="HttpBasico" contract="Zuliaworks.Netzuela.Spuria.TiposApi.IApi" bindingNamespace="http://netzuela.zuliaworks.com/spuria/api">
          <!-- The following specifies the DNS of an X.509 certificate that is used to authenticate a server. -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBasico">
          <!-- Transport VS TransportCredentialOnly http://developers.de/blogs/damir_dobric/archive/2006/07/31/890.aspx -->
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <!-- Parametros de configuracion en http://msdn.microsoft.com/en-us/library/ms731299.aspx -->
        <binding name="HttpWs" openTimeout="00:00:30" closeTimeout="00:00:30" sendTimeout="00:00:45" receiveTimeout="00:00:45" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="2147483647" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Autentificacion">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <wcfInspector />
        </behavior>
        <behavior name="AutentificacionYCertificado">
          <!-- Lo del estrangulamiento (throttling) aparece al final de http://www.codeproject.com/KB/WCF/WCFConcurrency.aspx -->
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647" maxConcurrentSessions="10" />
          <!--
   		  Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo 
          superior de los metadatos antes de la implementación 
          -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--An integer that specifies the maximum number of items to serialize or deserialize. This attribute is 65536.-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--
          <bufferedReceive maxPendingMessagesPerChannel="2147483647"/>
		  -->
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Zuliaworks.Netzuela.Spuria.Api.Autentificacion, Api" />
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!-- http://stackoverflow.com/questions/12702/net-returning-datatables-in-wcf -->
  <!-- Descomentar para que el servidor genere el registro de ejecucion de este servicio-->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener" 
               type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="wcf-traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>