<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="conexionesGuardadas" type="Zuliaworks.Netzuela.Valeria.Preferencias.ConexionesSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="credenciales" type="Zuliaworks.Netzuela.Valeria.Preferencias.AutentificacionSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
	
  <conexionesGuardadas>
    <parametrosDeConexion>
      <add id="Local" anfitrion="localhost" servidor="MySQL" instancia="mysqld" metodoDeConexion="TCP/IP" argumentoDeConexion="3306" />
    </parametrosDeConexion>
  </conexionesGuardadas>
	
  <credenciales>
    <llavesDeAcceso>
      <add id="Local" usuario="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUBf70fu3GUe3mMfPMVsfmQAAAAACAAAAAAADZgAAqAAAABAAAAATCOxddfaB+d33bxOiEJv6AAAAAASAAACgAAAAEAAAAFUkUzAVba0qgkLBjp2nkYMQAAAAaslXU1xGeDl3m6En+R4sjxQAAACE6104Hs1UNmbDrik14clzmrIyiA==" contrasena="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUBf70fu3GUe3mMfPMVsfmQAAAAACAAAAAAADZgAAqAAAABAAAACw1/iSRvmMpGpRImMO3z0/AAAAAASAAACgAAAAEAAAAPIufodwIFngv7JmFZAVLQsoAAAA/1whxau/s2AVliqIoBPLQmY+jam3B6c11JQVjSvi1SgoqzjoJil6GxQAAAAn/n3wFTl/VOqIMSEz3IuDqP6ZzA==" />
    </llavesDeAcceso>
  </credenciales>
	
  <system.web>
    <!--
    <compilation debug="true" targetFramework="4.0" />
	-->
    <compilation>
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
	
  <system.serviceModel>
	<extensions>
	  <behaviorExtensions>
        <add 
          name="inspector" 
          type="Zuliaworks.Netzuela.Spuria.Api.InspectorBehaviorExtension, Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        />
      </behaviorExtensions>
	</extensions>
		
    <services>
      <service behaviorConfiguration="Autentificacion" name="Zuliaworks.Netzuela.Spuria.Api.Servidor">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBasico" name="PorDefecto" contract="Zuliaworks.Netzuela.Spuria.TiposApi.IApi" bindingNamespace="http://netzuela.zuliaworks.com/spuria/api">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
		
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBasico">
          <security mode="TransportCredentialOnly">
		    <transport clientCredentialType="Basic" />
		  </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <!-- Parametros de configuracion en http://msdn.microsoft.com/en-us/library/ms731299.aspx -->
        <binding name="HttpWs" openTimeout="00:00:30" closeTimeout="00:00:30" sendTimeout="00:00:45" receiveTimeout="00:00:45" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="2147483647" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
		
    <behaviors>
      <serviceBehaviors>
        <behavior name="Autentificacion">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
		  <inspector />
        </behavior>
        <behavior name="AutentificacionYCertificado">
          <!-- Lo del estrangulamiento (throttling) aparece al final de http://www.codeproject.com/KB/WCF/WCFConcurrency.aspx -->
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647" maxConcurrentSessions="10"/>		
		  <!--
   		  Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo 
          superior de los metadatos antes de la implementación 
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
		  <!--An integer that specifies the maximum number of items to serialize or deserialize. This attribute is 65536.-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
		  <!--
          <bufferedReceive maxPendingMessagesPerChannel="2147483647"/>
		  -->
          <serviceCredentials>
            <!-- 
            Para usar autentificacion usando el framework WCF: 
            http://codebetter.com/petervanooijen/2010/03/22/a-simple-wcf-service-with-username-password-authentication-the-things-they-don-t-tell-you/ 

            Ejemplo de Microsoft
            http://msdn.microsoft.com/en-us/library/ms752233%28v=vs.90%29.aspx

            Ejemplo para la etapa de produccion (diferentes computadoras)
            http://www.codeproject.com/Articles/28248/Securing-WCF-Services-with-Certificates

            Para otorgar permisos de lectura a un usuario/servicio sobre un certificado
            http://stackoverflow.com/questions/425688/how-to-set-read-permission-on-the-private-key-file-of-x-509-certificate-from-ne
            -->
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="Zuliaworks.Netzuela.Spuria.Api.Autentificacion, Api"/>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My"
                                x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
	
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
	
  <!-- http://stackoverflow.com/questions/12702/net-returning-datatables-in-wcf -->
  <!-- Descomentar para que el servidor genere el registro de ejecucion de este servicio-->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener" 
               type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="wcf-traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>