<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--
  <configSections>
    <section name="conexionesGuardadas" type="Zuliaworks.Netzuela.Valeria.Preferencias.ConexionesSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="credenciales" type="Zuliaworks.Netzuela.Valeria.Preferencias.AutentificacionSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <add name="MySQL Connector/Net" invariant="MySql.Data.MySqlClient" description="Proveedor de datos ADO.NET de MySQL" 
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.4.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="ConexionMySql" connectionString="provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;port=3306;User Id=chivo;password=#HK_@20MamA!pAPa13?#3864;database=spuria&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <conexionesGuardadas>
    <parametrosDeConexion>
      <add id="Local" anfitrion="localhost" servidor="MySQL" instancia="mysqld"
          metodoDeConexion="Memoria compartida" argumentoDeConexion="MySQL" />
    </parametrosDeConexion>
  </conexionesGuardadas>
  
  <credenciales>
    <llavesDeAcceso>
      <add id="Local" usuario="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUBf70fu3GUe3mMfPMVsfmQAAAAACAAAAAAADZgAAqAAAABAAAACdq5Jf9eTvQYOCm0cL15R1AAAAAASAAACgAAAAEAAAANgU9WIkvluv00cioDPYwAkQAAAAJtQ3JU28anngQpEmnM5+KxQAAACRY4CJWe/nI5bknGNvsYYac/Jrxg=="
          contrasena="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUBf70fu3GUe3mMfPMVsfmQAAAAACAAAAAAADZgAAqAAAABAAAACw1/iSRvmMpGpRImMO3z0/AAAAAASAAACgAAAAEAAAAPIufodwIFngv7JmFZAVLQsoAAAA/1whxau/s2AVliqIoBPLQmY+jam3B6c11JQVjSvi1SgoqzjoJil6GxQAAAAn/n3wFTl/VOqIMSEz3IuDqP6ZzA==" />
    </llavesDeAcceso>
  </credenciales>
  

  <configSections>
    <section name="hibernate-configuration" requirePermission="false" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">Server=localhost;Database=spuria;User ID=chivo;Password=#HK_@20MamA!pAPa13?#3864</property>
      <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  -->
  <connectionStrings>
    <add name="SpuriaEntities" connectionString="metadata=res://*/Spuria.csdl|res://*/Spuria.ssdl|res://*/Spuria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=spuria;user id=sa;password='#HK_@20MamA&quot;&quot;pAPa13?#3864';multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!-- Parametros de configuracion en http://msdn.microsoft.com/en-us/library/ms731299.aspx -->
        <binding name="VinculacionConAutentificacion" openTimeout="00:00:30" closeTimeout="00:00:30" sendTimeout="00:00:45"
                 receiveTimeout="00:00:45" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <!--<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" 
                        maxStringContentLength="8192"/>-->
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32"
                        maxNameTableCharCount="16384" maxStringContentLength="2147483647"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="ComportamientoConAutentificacion" name="Zuliaworks.Netzuela.Spuria.ServidorApi.Api">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="VinculacionConAutentificacion"
                  name="PorDefecto" contract="Zuliaworks.Netzuela.Spuria.Api.IApiPublica" 
                  bindingNamespace="http://netzuela.zuliaworks.com/spuria/api_publica">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ComportamientoConAutentificacion">
          <!-- Lo del estrangulamiento (throttling) aparece al final de http://www.codeproject.com/KB/WCF/WCFConcurrency.aspx -->
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647" maxConcurrentSessions="10"/>
          <!-- 
          Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo 
          superior de los metadatos antes de la implementación 
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 
          Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca 
          el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de 
          la implementación 
          -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--An integer that specifies the maximum number of items to serialize or deserialize. This attribute is 65536.-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <bufferedReceive maxPendingMessagesPerChannel="2147483647"/>
          
          <serviceCredentials>
            <!-- 
            Para usar autentificacion usando el framework WCF: 
            http://codebetter.com/petervanooijen/2010/03/22/a-simple-wcf-service-with-username-password-authentication-the-things-they-don-t-tell-you/ 

            Ejemplo de Microsoft
            http://msdn.microsoft.com/en-us/library/ms752233%28v=vs.90%29.aspx

            Ejemplo para la etapa de produccion (diferentes computadoras)
            http://www.codeproject.com/Articles/28248/Securing-WCF-Services-with-Certificates

            Para otorgar permisos de lectura a un usuario/servicio sobre un certificado
            http://stackoverflow.com/questions/425688/how-to-set-read-permission-on-the-private-key-file-of-x-509-certificate-from-ne
            -->            
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="Zuliaworks.Netzuela.Spuria.ServidorApi.Autentificacion, ServidorApi"/>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My"
                                x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <!-- http://stackoverflow.com/questions/12702/net-returning-datatables-in-wcf -->

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener" 
               type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="wcf-traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>
